# Varad Morde Assignment_1

#### 1. In the below elements which of them are values or an expression? e.g:- vlaues can be integer or string and expressions will be mathematical operators.

* ==> it is a operator which multiplies to values so we can call it as expression

'hello' ==> 'hello' is a string as it is written in single quotes and it is a value.

-87.8 ==> it is a value

- ==> it is a operator used to subtract values therefore it is an expression

/ ==> it is a multiplication operator so it is an expression

+ ==> it is a addition operator which add two or more numbers so it is a expression

6 ==> it is a value

#### 2. What is the difference between string and variable?

String :- 1. String is a Group of Characters
          2. We can create a string by assigning a group of characters to a variable
          3. triple double quotes or triple single quotes are useful to extend the string beyond several lines
          4. indexing and slicing are the two ways to access a chracters inside a string.
          5. example of string: "Hello iNeuron! I am Varad"
          
Variable:- 1. Variables is imagined as a storage box which can store some value
           2. for example:- a = 5
           3. In above example some memory is allocated with the name 'a' and there the value 5 is stored
           4. The values in variables can be updated
           5. naming rules to variables:-
                          1. variable name must start from a Alphabet(capital/small)
                          2. space or digits cannot be assign to a variable name
                          3. underscore(_) is allowed for varible name at start,end,middle of variable name
           6. any type of values like int,float or a string can be assigned to a any particular variable

#### 3. Describe three different data types.

Three different data types are integer, float and string
1. int : i) int data type represents an integer number.
         ii) int numbers are the numbers without any decimal point.
         iii) for example :- 200,-50, 0, 6548945 etc
         iv) a = -3 in this a is called int type variable since it is                    storing -3 which is an integer value
2. float:i) float data type represents the floating point numbers.
         ii) A floating point number is a number that contains a decimal                point
         iii) for example :- 0.5, -2.34, 340.343, 0.0001 etc are called                   floating point numbers.
         iv) num = 451.15 in this 'num' is called float type vaiable since              it is storing 451.15 which is an float value
3. str  : i) str represents a string data type.
          ii) A string is represented by a group of characters
          iii) strings are enclosed in single quotes or double quotes
          iv) we can also write a string inside a triple double quotes or                 triple single quotes
          v) for example: "hello", 'hello' or """hello""" or '''hello'''

####  4. What is an expression made up of? what do all expressions do?

1. Expressions are made up of operands and operators
2. Expressions can do like it can interprete to produce some values
2. Expressions can do multiple operations like addition, substraction, multiplication, division and etc
for example : a = 1+1
              b = 2.2-1
              c = 1*2
              d = 3/1
              e = int(b) + a
              f = float(a) + b
3. There are also some logical expressions. These type of expressions can result in either True or False

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and statement

Statements:-
1. A statement is a group of expressions.
2. statements are that you design to carry out a task or an action
3. statements can only be declared
4. so in above given example spam = 10 is statement where a variable spam is declared with a value 10

Expressions:-
1. Expressions can be assigned 
2. Expressions can be used as operands
3. Expressions are values or execute to values.
4. Expressions can be like : (a+(b*12)-c)/d where a,b,c and d can have any numeric values with the data type like int/float.

#### 6. After running the following code, what does the variable vacon contain?

In [1]:
bacon = 22
bacon + 1

23

so to find what bacon will contain we can simply call the bacon variable and check what does it contain

In [2]:
bacon

22

so lets in above example where we assign a value 22 to 'bacon' variable
and on next line we increment the value of bacon but we didn't assign that incremented value to bacon variable again so, the bacon variable remains as 22 which was been assigned previusly

#### 7. What should the value of the following two terms be?
##### 'spam' + 'spamspam'
##### 'spam' * 3

In first example 'spam' + 'spamspam' we can see that we are joining or concatinating two strings 'spam' and 'spamspam' so this will result in a single string as 'spamspamspam'

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In second example we can se 'spam'*3, here the sring 'spam' is been multiply by 3 so it will result in 'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

#### 8. Why is eggs a vaiid variable name while 100 is invalid?

In python variables have predefined rules for assigning a name to a variable.
This rules says:
                1. Variable names can be start with a alphabets
                2. variable can have names as alphanumeric where alphabet as a name should come first
                3. variable can have _ as a starting letter to a variable name
                4. variable name cannot be a digit

So, by following the upper rules we can assign a variables a specific names

Therefore we can also get a conclusion that as variable name cannot be a digit so 100 will be an invalid variable name it will give a error

for eg look into below cell

In [8]:
100 = 12

SyntaxError: cannot assign to literal (257195099.py, line 1)

#### What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() will evaluate the integer, floating-point numbers, and string values when passed in this functions

for eg look into the below cell

In [12]:
a = 10.2             # here a is a float variable
b = 312              # here b is a int variable

# but when we use int(),float(), str()

print(type(int(a)))        # we can see when we use int() a get typecast into int
print(type(float(b)))      # we can see when we use int() a get typecast into float
print(type(str(b)))        # we can see when we use int() a get typecast into str

<class 'int'>
<class 'float'>
<class 'str'>

#### Why does this expression cause an error? How can you fix it?
#### 'I have eaten' + 99 + 'burritos.'

The abobe expression is giving error because
1. 'I have eaten' and 'burritos.' are two diffirent strings
but
2. 99 is a integer value
3. so we are trying to cancatinate two strings and one integer which is not possible it will through an error
4. so to do this we need to type cast the 99 into string.
5. so after typecasting it into string it will be easier to concatinate all string

In [17]:
'I have eaten' + str( 99 ) + 'burritos'

'I have eaten99burritos'

so we can see now the strings are been concatinated but their is no space in eaten99burritos so here we can give space after the 'I have eaten ' and ' burritos' so that the all three words will have space in between them

In [18]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'